In [1]:
import pandas as pd 
import numpy as np
%matplotlib inline

In [2]:
df=pd.read_csv('wine_train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3673 entries, 0 to 3672
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed.acidity         3673 non-null   float64
 1   volatile.acidity      3673 non-null   float64
 2   citric.acid           3673 non-null   float64
 3   residual.sugar        3673 non-null   float64
 4   chlorides             3673 non-null   float64
 5   free.sulfur.dioxide   3673 non-null   float64
 6   total.sulfur.dioxide  3673 non-null   float64
 7   density               3673 non-null   float64
 8   pH                    3673 non-null   float64
 9   sulphates             3673 non-null   float64
 10  alcohol               3673 non-null   float64
 11  quality               3673 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 344.5 KB

In [4]:
df.describe()

,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
count,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000
mean,6.854724,0.277953,0.335108,6.413613,0.045710,35.368500,138.626736,0.994026,3.189834,0.489115,10.525709,5.893820
std,0.848973,0.099913,0.123156,5.054275,0.021747,16.974746,42.641142,0.003016,0.152739,0.112433,1.243642,0.892749
min,3.800000,0.080000,0.000000,0.600000,0.012000,3.000000,9.000000,0.987110,2.720000,0.250000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,24.000000,108.000000,0.991700,3.080000,0.410000,9.400000,5.000000
50%,6.800000,0.260000,0.310000,5.250000,0.043000,34.000000,134.000000,0.993800,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.810000,1.010000,14.200000,9.000000

In [5]:
training_data=df.iloc[:3000]

In [6]:
training_features_data=training_data.drop('quality', axis='columns')
training_labels_data=training_data['quality'].copy()

In [7]:
testing_data=df.iloc[3000:]

In [8]:
testing_features_data=testing_data.drop('quality', axis='columns')
testing_labels_data=testing_data['quality'].copy()

In [9]:
training_data

,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,9.0,0.245,0.38,5.90,0.045,52.0,159.0,0.99500,2.93,0.35,10.2,6
1,8.2,0.420,0.29,4.10,0.030,31.0,100.0,0.99110,3.00,0.32,12.8,7
2,6.4,0.220,0.32,7.20,0.028,15.0,83.0,0.99300,3.13,0.55,10.9,8
3,5.0,0.350,0.25,7.80,0.031,24.0,116.0,0.99241,3.39,0.40,11.3,6
4,7.4,0.300,0.30,5.20,0.053,45.0,163.0,0.99410,3.12,0.45,10.3,6
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,8.7,0.310,0.73,14.35,0.044,27.0,191.0,1.00013,2.96,0.88,8.7,5
2996,5.2,0.285,0.29,5.15,0.035,64.0,138.0,0.98950,3.19,0.34,12.4,8
2997,7.7,0.390,0.28,4.90,0.035,36.0,109.0,0.99180,3.19,0.58,12.2,7
2998,6.2,0.250,0.28,8.50,0.035,28.0,108.0,0.99486,3.40,0.42,10.4,6
2999,8.3,0.150,0.39,1.30,0.055,32.0,146.0,0.99300,3.08,0.39,10.5,6

Creating pipeline (imputation and scaling)

In [10]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [11]:
my_pipeline=Pipeline([
    ('imputer', SimpleImputer()),
    ('scaler', StandardScaler())
])
my_pipeline.fit_transform(training_data)

array([[ 2.52383028, -0.33839724,  0.37121569, ..., -1.23111496,
        -0.26825891,  0.11560533],
       [ 1.58266592,  1.41219203, -0.35676395, ..., -1.49853549,
         1.8144137 ,  1.22011487],
       [-0.5349539 , -0.58848142, -0.11410407, ...,  0.55168854,
         0.29246064,  2.32462441],
       ...,
       [ 0.99443819,  1.11209101, -0.43765057, ...,  0.81910907,
         1.33379694,  1.22011487],
       [-0.77024499, -0.28838041, -0.43765057, ..., -0.60713373,
        -0.10805333,  0.11560533],
       [ 1.70031146, -1.28871713,  0.45210232, ..., -0.87455426,
        -0.02795053,  0.11560533]])

Finding correlation between attributes and quality

In [12]:
correlation=df.corr()
correlation['quality'].sort_values(ascending=False)

quality                 1.000000
alcohol                 0.436661
pH                      0.090143
sulphates               0.035366
free.sulfur.dioxide     0.007264
citric.acid            -0.008268
residual.sugar         -0.089946
fixed.acidity          -0.112055
total.sulfur.dioxide   -0.179859
volatile.acidity       -0.189077
chlorides              -0.211490
density                -0.306094
Name: quality, dtype: float64

## Using Linear model (Model and k-fold cross validation)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
model=LinearRegression()
model.fit(training_features_data, training_labels_data)

LinearRegression()

In [15]:
x=model.predict(testing_features_data)

In [16]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, training_features_data, training_labels_data, scoring="neg_mean_squared_error", cv=10)
rmse_scores=np.sqrt(-scores)

In [17]:
len(list(rmse_scores))

10

In [18]:
list(rmse_scores)

[0.7579297565879968,
 0.7119038105882665,
 0.801885698118995,
 0.8281104442195854,
 0.7617899846275354,
 0.7396527459836648,
 0.7589729083542424,
 0.8273574939318065,
 0.7881182904079163,
 0.6965972580497273]

In [19]:
def print_scores_of_validation(scores):
    print("Scores:", scores)
    print("mean:", scores.mean())
    print("standard deviation:", scores.std())

In [20]:
print_scores_of_validation(rmse_scores)

Scores: [0.75792976 0.71190381 0.8018857  0.82811044 0.76178998 0.73965275
 0.75897291 0.82735749 0.78811829 0.69659726]
mean: 0.7672318390869736
standard deviation: 0.042371955744208135

In [21]:
from sklearn.metrics import mean_squared_error
lin_mse=mean_squared_error(testing_labels_data, x)
lin_rmse=np.sqrt(lin_mse)

In [22]:
lin_mse, lin_rmse

(0.5273731228261445, 0.7262046012152116)

## Using DecisionTree (Model and k-fold cross validation)

In [23]:
from sklearn.tree import DecisionTreeRegressor
model1=DecisionTreeRegressor()
model1.fit(training_features_data, training_labels_data)

DecisionTreeRegressor()

In [24]:
x1=model1.predict(testing_features_data)

In [25]:
scores1=cross_val_score(model1, training_features_data, training_labels_data, scoring="neg_mean_squared_error", cv=10)
rmse_scores1=np.sqrt(-scores1)

In [26]:
print_scores_of_validation(rmse_scores1)

Scores: [0.90921211 0.87939373 0.91104336 0.88128694 0.89442719 0.85049005
 0.86409876 0.87177979 0.93094934 0.96263527]
mean: 0.8955316541796643
standard deviation: 0.0319852522615351

In [27]:
from sklearn.metrics import mean_squared_error
lin_mse1=mean_squared_error(testing_labels_data, x1)
lin_rmse1=np.sqrt(lin_mse1)

In [28]:
lin_mse1, lin_rmse1

(0.7949479940564635, 0.8915985610444106)

## Using RandomForest (Model and k-fold cross validation)

In [29]:
from sklearn.ensemble import RandomForestRegressor
model2=RandomForestRegressor()
model2.fit(training_features_data, training_labels_data)

RandomForestRegressor()

In [30]:
x2=model2.predict(testing_features_data)

In [31]:
scores2=cross_val_score(model2, training_features_data, training_labels_data, scoring="neg_mean_squared_error", cv=10)
rmse_scores2=np.sqrt(-scores2)

In [32]:
print_scores_of_validation(rmse_scores2)

Scores: [0.64738989 0.61403746 0.70661045 0.65958345 0.66384235 0.65361533
 0.62695906 0.71217156 0.64788734 0.60983577]
mean: 0.6541932665874576
standard deviation: 0.032618041300763366

In [33]:
lin_mse2=mean_squared_error(testing_labels_data, x2)
lin_rmse2=np.sqrt(lin_mse2)

In [34]:
lin_mse2, lin_rmse2

(0.3765096582466567, 0.6136038284159061)

In [35]:
testing_data.to_csv('Testing and predicted data.csv')

In [36]:
df2=pd.read_csv('Testing and predicted data.csv')

In [37]:
df2["Linear_regression"]=x
df2["Decision_Tree"]=x1
df2["Random_Forest"]=x2

In [38]:
df2.to_csv('Testing and predicted data.csv')