In [1]:
import pandas as pd 
import numpy as np
%matplotlib inline

In [2]:
df=pd.read_csv('wine_train.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3673 entries, 0 to 3672
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed.acidity         3673 non-null   float64
 1   volatile.acidity      3673 non-null   float64
 2   citric.acid           3673 non-null   float64
 3   residual.sugar        3673 non-null   float64
 4   chlorides             3673 non-null   float64
 5   free.sulfur.dioxide   3673 non-null   float64
 6   total.sulfur.dioxide  3673 non-null   float64
 7   density               3673 non-null   float64
 8   pH                    3673 non-null   float64
 9   sulphates             3673 non-null   float64
 10  alcohol               3673 non-null   float64
 11  quality               3673 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 344.5 KB

In [4]:
df.describe()

,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
count,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000,3673.000000
mean,6.854724,0.277953,0.335108,6.413613,0.045710,35.368500,138.626736,0.994026,3.189834,0.489115,10.525709,5.893820
std,0.848973,0.099913,0.123156,5.054275,0.021747,16.974746,42.641142,0.003016,0.152739,0.112433,1.243642,0.892749
min,3.800000,0.080000,0.000000,0.600000,0.012000,3.000000,9.000000,0.987110,2.720000,0.250000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,24.000000,108.000000,0.991700,3.080000,0.410000,9.400000,5.000000
50%,6.800000,0.260000,0.310000,5.250000,0.043000,34.000000,134.000000,0.993800,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.810000,1.010000,14.200000,9.000000

In [5]:
training_data=df.iloc[:3000]

In [6]:
training_features_data=training_data.drop('quality', axis='columns')
training_labels_data=training_data['quality'].copy()

In [7]:
testing_data=df.iloc[3000:]

In [8]:
testing_features_data=testing_data.drop('quality', axis='columns')
testing_labels_data=testing_data['quality'].copy()

In [9]:
training_data

,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality
0,9.0,0.245,0.38,5.90,0.045,52.0,159.0,0.99500,2.93,0.35,10.2,6
1,8.2,0.420,0.29,4.10,0.030,31.0,100.0,0.99110,3.00,0.32,12.8,7
2,6.4,0.220,0.32,7.20,0.028,15.0,83.0,0.99300,3.13,0.55,10.9,8
3,5.0,0.350,0.25,7.80,0.031,24.0,116.0,0.99241,3.39,0.40,11.3,6
4,7.4,0.300,0.30,5.20,0.053,45.0,163.0,0.99410,3.12,0.45,10.3,6
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,8.7,0.310,0.73,14.35,0.044,27.0,191.0,1.00013,2.96,0.88,8.7,5
2996,5.2,0.285,0.29,5.15,0.035,64.0,138.0,0.98950,3.19,0.34,12.4,8
2997,7.7,0.390,0.28,4.90,0.035,36.0,109.0,0.99180,3.19,0.58,12.2,7
2998,6.2,0.250,0.28,8.50,0.035,28.0,108.0,0.99486,3.40,0.42,10.4,6
2999,8.3,0.150,0.39,1.30,0.055,32.0,146.0,0.99300,3.08,0.39,10.5,6

Creating pipeline (imputation and scaling)

In [10]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [11]:
my_pipeline=Pipeline([
    ('imputer', SimpleImputer()),
    ('scaler', StandardScaler())
])
x_train=my_pipeline.fit_transform(training_features_data)

x_test=my_pipeline.fit_transform(testing_features_data)

## Finding correlation between attributes and quality

In [12]:
correlation=df.corr()
correlation['quality'].sort_values(ascending=False)

quality                 1.000000
alcohol                 0.436661
pH                      0.090143
sulphates               0.035366
free.sulfur.dioxide     0.007264
citric.acid            -0.008268
residual.sugar         -0.089946
fixed.acidity          -0.112055
total.sulfur.dioxide   -0.179859
volatile.acidity       -0.189077
chlorides              -0.211490
density                -0.306094
Name: quality, dtype: float64

## Using Linear model (Model and k-fold cross validation)

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
model=LinearRegression()
model.fit(x_train, training_labels_data)

LinearRegression()

In [15]:
x=model.predict(x_test)

In [16]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, training_features_data, training_labels_data, scoring="neg_mean_squared_error", cv=10)
rmse_scores=np.sqrt(-scores)

In [17]:
len(list(rmse_scores))

10

In [18]:
list(rmse_scores)

[0.7579297565879968,
 0.7119038105882665,
 0.801885698118995,
 0.8281104442195854,
 0.7617899846275354,
 0.7396527459836648,
 0.7589729083542424,
 0.8273574939318065,
 0.7881182904079163,
 0.6965972580497273]

In [19]:
def print_scores_of_validation(scores):
    print("Scores:", scores)
    print("mean:", scores.mean())
    print("standard deviation:", scores.std())

In [20]:
print_scores_of_validation(rmse_scores)

Scores: [0.75792976 0.71190381 0.8018857  0.82811044 0.76178998 0.73965275
 0.75897291 0.82735749 0.78811829 0.69659726]
mean: 0.7672318390869736
standard deviation: 0.042371955744208135

In [21]:
from sklearn.metrics import mean_squared_error
lin_mse=mean_squared_error(testing_labels_data, x)
lin_rmse=np.sqrt(lin_mse)

In [22]:
lin_mse, lin_rmse

(0.5288955065000532, 0.727252024060472)

## Using DecisionTree (Model and k-fold cross validation)

In [23]:
from sklearn.tree import DecisionTreeRegressor
model1=DecisionTreeRegressor()
model1.fit(x_train, training_labels_data)

DecisionTreeRegressor()

In [24]:
x1=model1.predict(x_test)

In [25]:
scores1=cross_val_score(model1, training_features_data, training_labels_data, scoring="neg_mean_squared_error", cv=10)
rmse_scores1=np.sqrt(-scores1)

In [26]:
print_scores_of_validation(rmse_scores1)

Scores: [0.92376043 0.89256186 0.92014492 0.90921211 0.89069261 0.83066239
 0.87368949 0.91287093 0.90921211 0.96263527]
mean: 0.9025442125568623
standard deviation: 0.03287264891638854

In [27]:
from sklearn.metrics import mean_squared_error
lin_mse1=mean_squared_error(testing_labels_data, x1)
lin_rmse1=np.sqrt(lin_mse1)

In [28]:
lin_mse1, lin_rmse1

(1.0237741456166418, 1.0118172491199395)

## Using RandomForest (Model and k-fold cross validation)

In [29]:
from sklearn.ensemble import RandomForestRegressor
model2=RandomForestRegressor()
model2.fit(x_train, training_labels_data)

RandomForestRegressor()

In [85]:
# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 10, stop = 1200, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt', 'log2']
# Maximum number of levels in tree
max_depth = [2,150]
# Minimum number of samples required to split a node
min_samples_split = [2, 5]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2]
# Method of selecting samples for training each tree
bootstrap = [True, False]

In [86]:
# Create the param grid
param_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}
print(param_grid)

{'n_estimators': [10, 142, 274, 406, 538, 671, 803, 935, 1067, 1200], 'max_features': ['auto', 'sqrt', 'log2'], 'max_depth': [2, 150], 'min_samples_split': [2, 5], 'min_samples_leaf': [1, 2], 'bootstrap': [True, False]}

In [87]:
from sklearn.model_selection import RandomizedSearchCV
rf_RandomGrid = RandomizedSearchCV(estimator = model2, param_distributions = param_grid, cv = 100, verbose=2, n_jobs = 4)

In [88]:
rf_RandomGrid.fit(x_train, training_labels_data)

Fitting 100 folds for each of 10 candidates, totalling 1000 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:  2.4min
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:  7.1min
[Parallel(n_jobs=4)]: Done 357 tasks      | elapsed: 12.5min
[Parallel(n_jobs=4)]: Done 640 tasks      | elapsed: 19.2min
[Parallel(n_jobs=4)]: Done 1000 out of 1000 | elapsed: 40.4min finished

RandomizedSearchCV(cv=100, estimator=RandomForestRegressor(), n_jobs=4,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [2, 150],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'min_samples_leaf': [1, 2],
                                        'min_samples_split': [2, 5],
                                        'n_estimators': [10, 142, 274, 406, 538,
                                                         671, 803, 935, 1067,
                                                         1200]},
                   verbose=2)

In [89]:
rf_RandomGrid.best_params_

{'n_estimators': 274,
 'min_samples_split': 5,
 'min_samples_leaf': 2,
 'max_features': 'log2',
 'max_depth': 150,
 'bootstrap': False}

In [90]:
print (f'Train Accuracy - : {rf_RandomGrid.score(x_train,training_labels_data):.3f}')
print (f'Test Accuracy - : {rf_RandomGrid.score(x_test,testing_labels_data):.3f}')

Train Accuracy - : 0.966
Test Accuracy - : 0.462

In [91]:
x_=model2.predict(x_test)
x2=np.round(x_)

In [92]:
scores2=cross_val_score(model2, training_features_data, training_labels_data, scoring="neg_mean_squared_error", cv=10)
rmse_scores2=np.sqrt(-scores2)

In [93]:
print_scores_of_validation(rmse_scores2)

Scores: [0.65020945 0.6231292  0.70206244 0.66470495 0.66165021 0.65457594
 0.62812207 0.70673168 0.64118016 0.60028132]
mean: 0.6532647425362497
standard deviation: 0.03153690154481788

In [94]:
lin_mse2=mean_squared_error(testing_labels_data, x2)
lin_rmse2=np.sqrt(lin_mse2)

In [95]:
lin_mse2, lin_rmse2

(0.4635958395245171, 0.6808787260037702)

In [96]:
testing_data.to_csv('Testing and predicted data.csv')

In [97]:
df2=pd.read_csv('Testing and predicted data.csv')

In [98]:
df2["Linear_regression"]=x
df2["Decision_Tree"]=x1
df2["Random_Forest"]=x2

In [99]:
df2.to_csv('Testing and predicted data.csv')

## Function printing bad, average, good

In [100]:
def predict_quality(parameters): #enter space seperated 11 integer values as parameters
        
        x=parameters.split()
        arr=np.array(x)

        z=np.reshape(arr, (1,-1))
        y=my_pipeline.fit_transform(z)
        output=model2.predict(y)
        if output<6:
            print("Bad")
        elif output==6:
            print("Average")
        else:
            print("Good")

In [101]:
#parameters=input('enter parameters')
#predict_quality(parameters)

In [102]:
df2

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality,Linear_regression,Decision_Tree,Random_Forest
0,3000,6.9,0.21,0.49,1.4,0.041,15.0,164.0,0.99270,3.25,0.63,11.0,5,5.948606,6.0,6.0
1,3001,7.7,0.38,0.23,10.8,0.030,28.0,95.0,0.99164,2.93,0.41,13.6,6,6.953448,8.0,7.0
2,3002,5.6,0.15,0.31,5.3,0.038,8.0,79.0,0.99230,3.30,0.39,10.5,6,6.114203,8.0,6.0
3,3003,6.8,0.31,0.32,7.6,0.052,35.0,143.0,0.99590,3.14,0.38,9.0,5,5.204739,5.0,5.0
4,3004,7.2,0.16,0.49,1.3,0.037,27.0,104.0,0.99240,3.23,0.57,10.6,6,6.034801,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,3668,7.1,0.34,0.32,2.0,0.051,29.0,130.0,0.99354,3.30,0.50,10.4,6,5.532191,6.0,6.0
669,3669,6.4,0.29,0.57,1.0,0.060,15.0,120.0,0.99240,3.06,0.41,9.5,5,5.166344,6.0,5.0
670,3670,8.0,0.26,0.28,8.2,0.038,72.0,202.0,0.99566,3.12,0.56,10.0,6,5.950430,5.0,6.0
671,3671,6.7,0.15,0.29,5.0,0.058,28.0,105.0,0.99460,3.52,0.44,10.2,7,6.023159,5.0,6.0
672,3672,6.4,0.23,0.26,8.1,0.054,47.0,181.0,0.99540,3.12,0.49,9.4,5,5.631960,5.0,6.0

In [103]:
truth_quality=df2['quality']

In [104]:
truth_label=[]
for values in truth_quality:
    if values>6:
        truth_label.append('good')
    elif values<6:
        truth_label.append('bad')
    else:
        truth_label.append('average')

In [105]:
df2['truth_label']=truth_label

In [106]:
df2

,Unnamed: 0,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,quality,Linear_regression,Decision_Tree,Random_Forest,truth_label
0,3000,6.9,0.21,0.49,1.4,0.041,15.0,164.0,0.99270,3.25,0.63,11.0,5,5.948606,6.0,6.0,bad
1,3001,7.7,0.38,0.23,10.8,0.030,28.0,95.0,0.99164,2.93,0.41,13.6,6,6.953448,8.0,7.0,average
2,3002,5.6,0.15,0.31,5.3,0.038,8.0,79.0,0.99230,3.30,0.39,10.5,6,6.114203,8.0,6.0,average
3,3003,6.8,0.31,0.32,7.6,0.052,35.0,143.0,0.99590,3.14,0.38,9.0,5,5.204739,5.0,5.0,bad
4,3004,7.2,0.16,0.49,1.3,0.037,27.0,104.0,0.99240,3.23,0.57,10.6,6,6.034801,6.0,6.0,average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,3668,7.1,0.34,0.32,2.0,0.051,29.0,130.0,0.99354,3.30,0.50,10.4,6,5.532191,6.0,6.0,average
669,3669,6.4,0.29,0.57,1.0,0.060,15.0,120.0,0.99240,3.06,0.41,9.5,5,5.166344,6.0,5.0,bad
670,3670,8.0,0.26,0.28,8.2,0.038,72.0,202.0,0.99566,3.12,0.56,10.0,6,5.950430,5.0,6.0,average
671,3671,6.7,0.15,0.29,5.0,0.058,28.0,105.0,0.99460,3.52,0.44,10.2,7,6.023159,5.0,6.0,good
672,3672,6.4,0.23,0.26,8.1,0.054,47.0,181.0,0.99540,3.12,0.49,9.4,5,5.631960,5.0,6.0,bad

In [107]:
rf_label=[]
Random_Forest=df2['Random_Forest']
for entries in Random_Forest:
    if entries>6:
        rf_label.append('good')
    elif entries<6:
        rf_label.append('bad')
    else:
        rf_label.append('average')

In [108]:
df2['rf_label']=rf_label
df2.to_csv('Testing and predicted data.csv')

In [109]:
i=0
for a,b in zip(truth_label,rf_label):
    if a==b:
        i=i+1
i

451